[submodule "library-api-gateway"]
	path = library-api-gateway
	url = https://github.com/Mubinabd/library-api-gateway.git
	branch = mubina
[submodule "library_auth"]
	path = library_auth
	url = https://github.com/Mubinabd/library_auth.git
